@import '~bootstrap/scss/bootstrap';

header {
    border-bottom: 1px solid grey;
}

.col {
    padding-bottom: 1rem;

    .card {
        height: 280px;

        &:hover {
            cursor: pointer;
            border: 2px solid lightgrey;
        }
    }

}

main {
    background-color: #212529;
}

.support {
    h1 {
        color: white;
    }

    p {
        padding: 1rem 0;
        color: lightgrey;
    }

    div {
        label {
            color: white;
        }

        .pt_20 {
            padding-top: 20px;
        }
    }
}

footer {
    border-top: 1px solid grey;

    ul {
        li {
            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: skyblue;
                }
            }
        }
    }
}